<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActiproSoftware.Shared.Wpf" version="14.2.0610" targetFramework="net45" />
  <package id="ActiproSoftware.SyntaxEditor.Wpf" version="14.2.0610" targetFramework="net45" />
  <package id="ActiproSoftware.Text.Wpf" version="14.2.0610" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.VSEditor.Standalone.10" version="1.0.0" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net45" />
</packages>